---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>🧑‍🚀 あああ</h2>
			<p>
				アストロ公式ブログスターターテンプレートへようこそ。この このテンプレートは、Astroを使って個人ウェブサイト、
				ブログ、ポートフォリオを構築しようとしている方にとって、軽量でミニマルなスタイルの出発点となるものです。
				このテンプレートは、Astroを使用して個人ウェブサイト、ブログ、ポートフォリオを構築しようとするすべての人にとって、
				軽量で最小限のスタイルの出発点となるものです。
			</p>
			<p>
				このテンプレートには、<code>astro.config.mjs</code>ファイルに設定済みの統合機能がいくつか付属しています。
				Astro Integrationsで設定をカスタマイズして、Tailwind、React、Vueなどのツールをプロジェクトに追加できます。
			</p>
			<p>ここでは、テンプレートを使って始める方法について、いくつかのアイデアをご紹介します： </p>
			<ul>
				<li>このページを編集する <code>src/pages/index.astro</code></li>
				<li>サイトヘッダー項目を編集する <code>src/components/Header.astro</code></li>
				<li>フッターに名前を追加する <code>src/components/Footer.astro</code></li>
				<li>ブログ記事をチェック <code>src/content/blog/</code></li>
				<li>ログ記事ページのレイアウトを編集する <code>src/layouts/BlogPost.astro</code></li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
